{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "parserOptions": { "ecmaVersion": 2018, "sourceType": "module" },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "error",
    "prettier/prettier": 0,
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "no-nested-ternary": "error",
    "import/order": [1, { "groups": ["external", "builtin", "internal", "sibling", "parent", "index"] }]
  },
  "plugins": ["import"]
}
